{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Пользователи' %}{% endblock %}

{% block main %}
  <div class="page-header">
    <h1>Пользователи</h1>
  </div>
  <br>
<form method='GET'>
  <div class="row">
    <div class="col-sm-4">
      <div class="input-group">        
        <input type="text" class="form-control" name='q' value='{{ request.GET.q }}' placeholder="Поиск пользователей...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Поиск</button>
        </span>
      </div><!-- /input-group -->
    </div>
  </div>
</form>
<br>
{% if request.GET.q %}
<form method='GET'>
  Пользователи по запросу <span class="label label-default">{{request.GET.q}}</span> <button class="btn btn-default btn-xs">Очистить фильтры</button>
</form>
{% endif %}
<div class="row">
{% for user in users %}
  <div class="col-sm-3">

    <div class="media" style="margin-top: 10px">
      <div class="media-left">
      <a href="{% url 'profile' user.username %}">
        <img src="{{ user.profile.get_picture }}" style="width:50px" alt="{{ user.profile.get_screen_name }}">
      </a>
      </div>
      <div class="media-body" style="font-size: 12px">
        <a href="{% url 'profile' user.username %}">{{ user.profile.get_screen_name }}</a><br>
        <strong>Имя:</strong> {{user.username}}<br>
        {{user.email}}<br>
        {% if user.profile.location %}
          <strong>{% trans 'Факультет' %}:</strong> {{ user.profile.location }}<br>
        {% endif %}
        {% if user.profile.job_title %}
          <strong>{% trans 'Интересы' %}:</strong> {{ user.profile.job_title }}<br>
        {% endif %}
      </div>
    </div>
  </div>
{% empty %}
  <div class="col-sm-6"><p class="text-warning">Пользователи не найдены.</p></div>
{% endfor %}
</div>

{% include 'paginator.html' with paginator=users %}
{% endblock main %}
